.resultsHeader {
  font-size: larger;
  font-style: bold;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 1rem;
}

.result {
  margin-top: 1rem;
  padding-bottom: 1ch;
  border-bottom: 1px dashed darkgrey;
}